pandas==1.4.2
numpy==1.22.4
matplotlib==3.5.2
seaborn==0.11.2
plotly==5.8.0
missingno==0.5.1
./wheels/GDAL-3.3.2-cp39-cp39-win_amd64.whl
./wheels/pyproj-3.2.1-cp39-cp39-win_amd64.whl
./wheels/Fiona-1.8.20-cp39-cp39-win_amd64.whl
./wheels/Shapely-1.7.1-cp39-cp39-win_amd64.whl
./wheels/geopandas-0.10.1-py3-none-any.whl
./wheels/Cartopy-0.20.1-cp39-cp39-win_amd64.whl
./wheels/rasterio-1.2.10-cp39-cp39-win_amd64.whl
haversine==2.5.1
geoplot==0.5.1
geopy==2.2.0
SQLAlchemy==1.4.37
scikit-learn==1.1.1
sklearn-pandas==2.2.0
lightgbm==3.3.2
joblib==1.1.0
gunicorn==20.1.0
Flask==2.1.2
notebook==6.4.11
